<launch>

	<!-- Left Camera -->
	<!-- These cameras have 15 fps it seems despite frame rate option-->
	<node name="left_cam" pkg="usb_cam" type="usb_cam_node">
		<param name="video_device" value="/dev/video1" />
		<param name="camera_frame_id" value="left_camera" />
		<param name="pixel_format" value="yuyv" />
		<param name="framerate" value="30" />
		<param name="image_width" value="640" />
		<param name="image_height" value="480" />
	</node>

	<!-- Right Camera -->
	<node name="right_cam" pkg="usb_cam" type="usb_cam_node">
		<param name="video_device" value="/dev/video0" />
		<param name="camera_frame_id" value="right_camera" />
		<param name="pixel_format" value="yuyv" />
		<param name="framerate" value="30" />
		<param name="image_width" value="640" />
		<param name="image_height" value="480" />
	</node>

	
</launch>
